Flask == 3.1.*
requests == 2.32.*
vcsi == 7.0.*
waitress == 3.0.*
cairosvg == 2.8.*
redis[hiredis] == 6.2.*
tomlkit == 0.13.*
Flask-WTF == 1.2.*
bootstrap-Flask == 2.5.*
Flask-SQLAlchemy == 3.1.*
Flask-Migrate == 4.1.0
pyimgbox == 1.0.7
Pillow == 10.3.0, < 11.0.0