Flask == 3.0.*
requests == 2.31.*
vcsi == 7.0.*
waitress == 2.1.*
cairosvg == 2.7.*
redis[hiredis] == 5.0.*
tomlkit == 0.12.*
Flask-WTF == 1.2.*
bootstrap-Flask == 2.3.*
Flask-SQLAlchemy == 3.1.*
Flask-Migrate == 4.0.5
pyimgbox == 1.0.7
Pillow ~= 10.2.0