{% extends "base.html" %}
{% from "bootstrap5/utils.html" import render_static %}
{% from "bootstrap5/pagination.html" import render_pager, render_pagination %}
{% block title %}
  Settings
{% endblock title %}
{% block head %}
  {{ render_static('css', 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css', False) }}
{% endblock head %}
{% block content %}
  <div class="container">
  {% if pagination %}{{ render_pagination(pagination, align='right') }}{% endif %}
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <h1 class="pt-5 pb-2">
          {% block heading %}
            stash-empornium settings
          {% endblock heading %}
        </h1>
        <p class="lead">
          {% block desc %}
            Here you can configure the settings for {{ settings_option }}.
          {% endblock desc %}
        </p>
        <form method="post" role="form">
          {% block formfields %}
          {% endblock formfields %}
        </form>
      </div>
    </div>
    {% if message %}
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
          <div class="alert alert-success mt-2 mb-2" role="alert">{{ message }}</div>
        </div>
      </div>
    {% endif %}
    {% if pagination %}{{ render_pagination(pagination, align='right') }}{% endif %}
  </div>
{% endblock content %}
{% block scripts %}
  {{ render_static('js', 'scripts/forms.js') }}
{% endblock scripts %}
