<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
          content="A userscript and backend server to help with uploading to EMP." />
    <meta name="keywords" content="settings" />
    <meta name="apple-mobile-web-app-title" content="stash-empornium">
    <meta name="application-name" content="stash-empornium">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" type="image/ico" sizes="48x48" href="/favicon.ico" />
    {# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"> #}
    {% block styles %}
      {# Bootstrap CSS #}
      {{ bootstrap.load_css() }}
    {% endblock styles %}
    <title>
      {% block title %}
        Default
      {% endblock title %}
    - stash-empornium</title>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    {% include "navbar.html" %}
    {# Content #}
    {% block content %}
    {% endblock content %}
    {# JavaScript #}
    {{ bootstrap.load_js() }}
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
