<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
          content="A userscript and backend server to help with uploading to EMP." />
    <meta name="keywords" content="settings" />
    {% block styles %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
    {% endblock styles %}
    <title>
      {% block title %}
        Default
      {% endblock title %}
    - stash-empornium</title>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <link rel="shortcut icon" href="/favicon.ico" />
    {% include "navbar.html" %}
    <!-- Content -->
    {% block content %}
    {% endblock content %}
    <!-- JavaScript -->
    {{ bootstrap.load_js() }}
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
