<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='images/logo.svg') }}"
               alt=""
               width="32"
               height="32"
               class="d-inline-block align-text-top" />
          stash-empornium
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="navbarDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">Settings</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.settings', page='backend') }}">Backend</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.settings', page='stash') }}">Stash</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.settings', page='files') }}">Files</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.settings', page='redis') }}">Redis</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.settings', page='rtorrent') }}">rTorrent</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.settings', page='deluge') }}">Deluge</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.settings', page='qbittorrent') }}">qBittorrent</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="tagDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">Tags</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.tag_settings', page='1') }}">Maps</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.category_settings', page='1') }}">Categories</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('settings_page.settings', page='database') }}">Database</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" action="{{ url_for('settings_page.search') }}">
            <input name="search" class="form-control me-2" type="search" placeholder="Search Tags" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>