{% extends "base-settings.html" %}{% from "bootstrap5/form.html" import render_field %}
{% block formfields %}
<form method="post" role="form">
    {{ form.csrf_token() }}
    {%- for item in form %}
        {%- if item == form.csrf_token %}
        {% else %}
            <div class="mb-3">
                {%- if item.type == "PasswordField" %}
                    {{ item.label() }}
                    <div class="input-group ">
                        {{ item(class='form-control', placeholder='') }}
                        <button id="btn-{{ item.id }}"
                                class="btn btn-primary"
                                type="button"
                                onclick='showPass("{{ item.id }}")'>
                            <i class="bi-eye-fill"></i>
                        </button>
                    </div>
                {% else %}
                    {{ render_field(item) }}
                {% endif %}
            </div>
        {%- endif %}
    {%- endfor %}
</form>
{% endblock formfields %}
{% block scripts %}
    {{ super() }}
    {% if form.date_format %}
        <script src="{{ url_for('static', filename='node_modules/strftime/strftime-min.js')}}"></script>
        <script>
            let ex = document.getElementById("date_example");
            let format = document.getElementById("date_format");
            ex.value = strftime(format.value);
            format.addEventListener("input", (event) => {
                ex.value = strftime(format.value);
            });
        </script>
    {% endif %}
{% endblock scripts %}
